.wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: aquamarine;
}

.input {
  width: 250px;
  height: 25px;
}

.button {
  width: 70px;
  height: 30px;
  background-color: cadetblue;
  border: none;
  margin-left: 5px;
}

